<%- include("partials/header.ejs") %>

<div class="blog-container">
  <h2>
    <%= blogPost.title %>
  </h2>
  <h3>By: <strong><%= blogPost.author %></strong></h3>
  <p class="blog-content"> <%= blogPost.content %> </p>

  <div class="buttons">
    <a href="/blog/<%= blogId %>/edit" class="edit-btn btn">Edit</a>

    <form action="/blog/<%= blogId %>/delete"
      method="POST">
      <button type="submit" class="delete-btn btn"
      onclick="confirmDelete()">Delete</button>
    </form>
  </div>
</div>

<%- include("partials/footer.ejs") %>