<%- include("partials/header.ejs") %>

<div class="blog-list-container">
<% if (blogList.length > 0) { %>
  <ul>
    <% blogList.forEach((blog, index) =>{ %> 
        <li class="blog-preview"> 
          <a href="/blog/<%= index %>">
            <%= blog.title %>
          </a>
          <p name="blogAuthor">Author: <%= blog.author %></p>
        </li>
    <% }) %> 
  </ul>
  <% } else { %>
    <p>No blogposts to display</p>
  <% } %>
</div>
<%- include("partials/footer.ejs") %>